:root{
    --main-font:'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color: #2196F3;
    --third-color: #ffffff;
    --forth-color: #757575;
    --footer-color: rgba(255, 255, 255, 0.6);
    --footer-bg-color: #2F303A;
    --employees-bg-color: #F5F4FA;
    --icons-color: #AFB1B8;
}